.car-detail-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 80px;
  margin-bottom: 80px;
  column-gap: 4vw;
  width: 80vw;
  align-items: center;
  align-self: center;
  .car-detail-img{
    width: 38vw;
    min-width: 350px;
    object-fit: contain;
  }
  .car-detail-description-container{
    width: 38vw;
    min-width: 300px;
    .car-detail-name{
      font-size: 20px;
      font-weight: 600;
      line-height: 27px;
      color: #373737;
      margin-bottom: 8px;
    }
    .car-detail-title{
      font-size: 50px;
      line-height: 57px;
      letter-spacing: -1px;
      font-weight: 600;
      color: #373737;
      margin-bottom: 37px;
    }
    .car-detail-description{
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.1px;
      line-height: 27px;
      color: #373737;
    }
  }
}

@media only screen and (max-width: 1024px){
  .car-detail-container{
    .car-detail-img{
      width: 80vw;
    }
    .car-detail-description-container{
      width: 80vw;
    }
  }
}

@media only screen and (max-width: 445px){
  .car-detail-container{
    .car-detail-img{
      min-width: 300px;
    }
    .car-detail-description-container{
      .car-detail-name{
        font-size: 20px;
        font-weight: 600;
        line-height: 27px;
        color: #373737;
        margin-bottom: 8px;
        margin-top: 20px;
      }
      .car-detail-title{
        font-size: 35px;
        line-height: 44px;
        letter-spacing: -0.7px;
        font-weight: 600;
        margin-bottom: 19px;
      }
    }
  }
}

