.nav-button-container{
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border:none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  color: #191919;
  text-decoration: none;
  padding: 0 32px;
  cursor: pointer;
}

@media only screen and (max-width: 500px){
  .nav-button-container{
    display: none;
  }
}
