@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
:root{
  --swiper-theme-color: #4A4A4A !important;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, p {
  margin: 0;
}

button {
  font-family: 'Montserrat';
}